// required libs
@import "compass";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Roboto+Slab:700');
@mixin openSans() {
	font-family: 'Open Sans', sans-serif;
}
@mixin robotoSlab() {
	font-family: 'Roboto Slab', serif;
}

// vars
$black: #343238;
$blue: #68b8e4;
$blueLight: #3cabda;
$bgGrey: #f2f2f2;
$green: #5ec8b9;
$orangeBadge: #eb6228;
$blueBadge: #3cabda;
$gutter: 15px;

//modules
@import "modules/header";
@import "modules/common";
@import "modules/promo";
@import "modules/benefits";
@import "modules/bordered-form";
@import "modules/portfolio";
@import "modules/left-menu";
@import "modules/works";
@import "modules/banner";
@import "modules/stage";
@import "modules/site-item";
@import "modules/dev-advantage";
@import "modules/approach";
@import "modules/footer";