.approach {
	padding-top: 160px;
	position: relative;
	display: block;
	margin-bottom: 65px;

	&:hover {
		text-decoration: none;

		.approach__text {
			border-bottom: none;
		}
	}

	@include before {
		@include image-block('icon-approach-1.png');
		@include pa();
	}

	@for $i from 2 through 7 {
		&_#{$i} {
			&:before {
				@include image-block('icon-approach-#{$i}.png');
			}
		}
	}

	&__text {
		font-weight: bold;
		border-bottom: 1px dotted;
		color: #3b3b3b;
	}
}

.icon-approach {
	display: block;
	@include image-block('icon-approach-1.png');
	max-width: 100%;
	@include background-size(contain);
	background-repeat: no-repeat;

	@for $i from 2 through 7 {
		&_#{$i} {
			@include image-block('icon-approach-#{$i}.png');
		}
	}
}