.banner {
	position: relative;
	padding: 70px 80px;
	margin-bottom: 55px;
	min-height: 250px;

	&_two-lines {
		padding: 35px 80px 40px;
	}

	@include media($lg) {
		padding: 40px 60px;
	}
	@include media($md) {
		padding: 20px 40px;

		.banner__title {
			font-size: 30px;
		}
	}

	@include media($xs) {
		overflow: hidden;

		.banner__title {
			font-size: 20px;
		}
		.banner__desc {
			font-size: 15px;
		}
	}

	&_two-lines {
		@include media($md, $sm) {
			.banner__title {
				font-size: 24px;
			}

			.banner__desc {
				font-size: 13px;
			}
		}
	}

	&__source {
		@include pa();
		width: 100%;
		z-index: -1;

		@include media($xs) {
			width: auto;
		}
	}

	&__title {
		font-size: 45px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 15px;
	}

	&__desc {
		font-size: 17px;
		font-weight: bold;
		color: #fff;
	}
}