.benefits {
	background: rgba(#3491d3, 0.8) image_url('tie-bg.png') no-repeat 50% 0;
	padding: 115px 0 90px;
	position: relative;

	&__triangle {
		$height: 26px;
		position: absolute;
		width: 100%;
		left: 0;
		top: -16px;
		overflow: hidden;
		padding-top: $height;
		padding-left: 50%;

		@include before {
			margin-left: -2000px;
			margin-top: -$height;
			border-top: $height #fff solid;
			border-left: 2000px transparent solid;
			border-right: 2000px transparent solid;
		}
	}

	&__item {
		margin-bottom: 15px;

		@include media($xs) {
			text-align: center;
		}
	}

	&__icon {
		display: inline-block;
		background: image_url('icons-benefits.png');
		@include size(125px, 125px);
		margin-bottom: 35px;

		@for $i from 2 through 4 {
			&_#{$i} {
				background-position: 0 ($i * -125px);
			}
		}

		@include media($xs) {
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 15px;
		color: #fff;
	}

	&__desc {
		color: #fff;
		font-size: 13px;
		margin-bottom: 15px;
	}

	&_business {
		.benefits__icon {
			background-image: image_url('icons-benefits-business.png');
		}

		.benefits__title, .benefits__desc {
			color: $black;
		}
	}
}