.bordered-form {
	background: image_url('form-pattern.png');
	padding: 10px;

	&__form {
		background: #fff;
		padding: 30px 30px 20px 30px;
	}

	.form-control {
		border-radius: 0;
		border-color: #62a0d1;
		font-size: 15px;
		@include input-placeholder {
			color: #575757;
		}
	}
}