body {
	@include openSans;
	font-size: 15px;
	color: #3b3b3b;
}

h1 {
	font-size: 45px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 40px;
}

h2 {
	font-size: 29px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 22px;
}

h3 {
	font-size: 21px;
	font-weight: bold;
	margin-top: 0;
}

h4 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0;
}

.white {
	color: #fff;
}

.logo {
	display: inline-block;
	@include robotoSlab;
	font-size: 30px;
	background: image_url('logo.png') no-repeat 0 0;
	padding-left: image_width('logo.png') + 15;
	min-height: image_height('logo.png');
	padding-top: 16px;
	text-align: left;

	@include media($xs) {
		font-size: 20px;
	}

	&, &:hover, &:focus {
		text-decoration: none;
		color: $black;
	}

	span {
		display: block;
		font-size: 17px;
		@include openSans;
		font-weight: 300;
		letter-spacing: 3px;

		@include media($xs) {
			font-size: 15px;
		}
	}
}

.button-send {
	background: 15px 50% no-repeat $blueLight;
	background-image: image_url('icon-send.png') !important;
	border-color: $blueLight;
	padding: 10px 15px 10px 44px;
	font-size: 15px;
}

.bg-grey {
	background: $bgGrey;
}

.button-green {
	background: $green;
	line-height: 52px;
	border-radius: 26px;
	font-weight: bold;
	font-size: 19px;
	padding: 0 70px;
	display: inline-block;

	&, &:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}

	&_small {
		padding: 0 30px;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
	}
}

.button {
	background: $blue;
	line-height: 42px;
	border-radius: 4px;
	padding: 0 50px;

	&, &:hover {
		color: #fff;
	}
}

.breadcrumbs {
	@extend %resetList;
	margin-bottom: 20px;
	margin-top: 22px;

	li {
		display: inline-block;
		font-size: 11px;

		&:before {
			content: '\2014';
			display: inline;
			padding-right: 4px;
		}

		&:first-child:before {
			display: none;
		}

		a {
			color: #3b3b3b;
		}
	}
}

.sidebar-image {
	margin-bottom: 15px;

	img {
		@extend .mw-100;
		margin-bottom: 10px;
	}
}

.black-link {
	text-decoration: underline;
	&, &:hover {
		color: $black;
	}

	&:hover {
		text-decoration: none;
	}
}

.badge {
	padding: 15px;
	margin-left: -15px;
	font-size: 17px;
	border-radius: 2px;
	background: $green;

	&_grey {
		background: #b3b3b3;
	}
	&_orange {
		background: $orangeBadge;
	}
}

.pr {
	position: relative;
}

.bg-notebook {
	position: absolute;
	left: -100%;
	top: 30px;
	z-index: -1;
	max-width: 140%;

	@include media($xs) {
		display: none;
	}
}

.alert {
	color: $black;
}

.list {
	padding-left: 18px;
}

.check-mark {
	font-weight: bold;
	background: image_url('check-mark.png') no-repeat;
	padding-top: 40px;
	margin-bottom: 50px;
}

.tooltip-inner {
	border-radius: 0;
	padding: 20px;
	text-align: left;
}

.bg-notebook-folio {
	@include image-block('bg-notebook.png');
	padding: 30px 71px 32px;
	margin-bottom: 10px;

	img {
		@include size(100%, 100%);
	}

	&_centered {
		margin-left: auto;
		margin-right: auto;
	}
}

.frame-browser-small {
	position: relative;
	padding-top: image-height('browser-top-small.png');
	margin-bottom: 15px;
	max-width: image-width('browser-top-small.png');
	@include box-shadow(rgba(#a6a6a6, .5) 6px 6px 13px);
	border: 1px #f1f1f1 solid;
	overflow: hidden;
	border-top: 0;
	border-radius: 4px;

	//@include media($sm) {
	//	margin-left: auto;
	//	margin-right: auto;
	//}

	img {
		@extend .mw-100;
		height: auto;
	}

	@include before {
		width: 100%;
		height: image-height('browser-top-small.png');
		background: image_url('browser-top-small.png') no-repeat;
		@include background-size(100%);
		position: absolute;
		top: 0;
		left: 0;
	}

	&_big {
		padding-top: image-height('browser-top-big.png');
		max-width: image-width('browser-top-big.png');

		&:before {
			background-image: image_url('browser-top-big.png');
			height: image-height('browser-top-big.png');
		}
	}
}

.link {
	@include link();
}

.fancybox-close {
	top: 22px;
	right: 22px;
	@include image-block('cross.png');
}

.check-mark-list {
	@extend %resetList;

	li {
		padding-left: 24px;
		background: image_url('check-mark-list.png') 0 0.25em no-repeat;
		margin-bottom: 26px;
	}
}

.num-list {
	counter-reset: numList;
	@extend %resetList;
	border-right: 1px #fff dotted;

	@include media($sm) {
		border-right: 0;
	}

	li {
		margin-bottom: 15px;
		opacity: .5;

		&:before {
			counter-increment: numList;
			content: counter(numList);
			border-radius: 100%;
			background: #fff;
			width: 25px;
			line-height: 25px;
			text-align: center;
			margin-right: 15px;
			display: inline-block;
			color: #215d87;
		}

		&.active {
			opacity: 1;
		}

		a {
			&, &:hover, &:focus {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}