.dev-advantage {
	padding: 40px 0;
	background: #215d87 image_url('bg-blue-pattern.jpg');

	&__item {
		color: #fff;
		margin-bottom: 70px;
		padding-top: 40px;
		text-decoration: underline;
		font-weight: bold;
		background: image_url('check-mark-white.png') no-repeat;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}
}