.footer {
	padding: 40px 0 30px;
	font-size: 13px;
	color: rgba(#fff, 0.5);
	background: image_url('footer-pattern.jpg');

	@include media($xs) {
		text-align: center;
	}

	&__logo {
		background: image_url('logo-footer.png') no-repeat 0 50%;
		height: image_height('logo-footer.png');
		padding-left: 40px;
		margin-bottom: 10px;
		display: inline-block;
		padding-top: 10px;
	}
}