.header {
	padding: 20px 0 24px;
	background: $bgGrey;

	.button-send {
		margin-top: 18px;
	}
}

.top-menu {
	@extend %resetList;
	font-size: 13px;
	margin-left: -30px;
	padding-top: 30px;

	li {
		display: inline-block;
		margin-left: 30px;

		a {
			text-decoration: underline;
		}
	}
}