$borderColor: #dcdcdc;
.left-menu {
	border-radius: 4px;
	border: 1px $borderColor solid;
	@include box-shadow(0 0 8px $borderColor);
	padding: 30px 30px 15px;
	@extend %resetList;
	//margin-left: -$gutter;
	margin-bottom: 40px;

	li {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 15px;
		position: relative;

		a {
			text-decoration: underline;
		}

		&.active {
			@include before {
				position: absolute;
				left: -25px;
				top: 50%;
				margin-top: -2px;
				@include size(19px, 3px);
				background: $blueLight;
			}

			a {
				text-decoration: none;
			}
		}
	}
}