.portfolio {
	background: $bgGrey;
	padding: 70px 0 40px;

	@include media($xs) {
		padding-top: 30px;
	}

	&__item {
		margin-bottom: 30px;

		a {
			display: block;
			position: relative;

			&:hover {
				.portfolio__item-hover {
					display: block;
				}
			}
		}

		img {
			@extend .mw-100;
		}
	}

	&__item-hover {
		display: none;
		@include size(100%, 100%);
		@include pa(0, 0);
		background: rgba(#000, 0.65) image_url('zoom.png') no-repeat 50% 50%;

		b {
			position: absolute;
			left: 20px;
			bottom: 20px;
			color: #fff;

		}
	}
}