.promo {
	border: 25px $blue solid;
	background: $bgGrey;
	padding: 60px 0 180px;
	position: relative;

	@include media($xs) {
		padding: 30px 0 90px;
	}

	.logo {
		margin-bottom: 100px;

		@include media($xs) {
			margin-bottom: 10px;
		}
	}

	&__mouse {
		@include image-block('icon-mouse.png');
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: - image-width('icon-mouse.png') / 2;
	}

	&__link {
		font-size: 21px;
		text-decoration: underline;
		color: $black;
	}

	&__banner {
		margin-bottom: 15px;

		&_accounting {
			margin-top: -27px;
		}

		@include media($xs) {
			margin-bottom: 30px;
		}
	}
}