.site-item {
	margin-bottom: 65px;
	border: 2px transparent solid;
	border-radius: 2px;
	padding: 9px 18px;

	&__badge {
		padding: 10px;
		margin-left: -10px;
		font-size: 15px;
		border-radius: 2px;
		background: $orangeBadge;
		display: inline-block;
		color: #fff;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&:hover {
		border-color: $blueBadge;

		.site-item__badge {
			background-color: $blueBadge;
		}

		.site-item__price {
			color: $blueBadge;
		}
	}

	&__text {
		font-size: 13px;
		margin-bottom: 25px;
	}

	&__price {
		color: $orangeBadge;
		font-size: 21px;
		font-weight: bold;
	}
}