.stage {
	padding-bottom: 50px;

	&__item {
		margin-bottom: 40px;
	}

	&__title {
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__icon {
		background: image_url('icons-web-dev.png');
		width: image_width('icons-web-dev.png');
		height: 32px;
		display: block;
		margin-bottom: 20px;

		&_task {
			background-position: 0 -32px;
		}
		&_design {
			background-position: 0 -64px;
		}
		&_cms {
			background-position: 0 -96px;
		}
		&_test {
			background-position: 0 -128px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}