.works {
	background: image_url('works-pattern.png');
	padding: 35px 0 50px;
	overflow: hidden;

	&__list {
		@extend %resetList;
		animation: marquee 30s linear infinite alternate;
		position: relative;
		white-space: nowrap;

		li {
			display: inline-block;
			margin-left: 40px;
		}

		@keyframes marquee {
			from {
				left: 100%;
			}
			to {
				left: -100%;
			}
		}
	}
}

.works-vertical {
	padding-bottom: 20px;
	border-bottom: 1px #a6a6a6 solid;
	margin-bottom: 40px;

	h3 {
		margin-bottom: 30px;
	}
}

.work-title {
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
	margin-bottom: 10px;
}

.work-desc {
	font-style: italic;
	margin-bottom: 15px;
}